.container{
    width: 600px;
}
.usb{
    margin-right: 1004px;
    margin-bottom: 10px;
}
.form-group{
    display: flex;
}
.group-gap{
    margin-left: -231px;
}
.btns{
    margin-right: 400px;
}
.btns button{
    margin-right: 5px;
}
/* app-usertable{
    display: flex;
    justify-content: center;
    align-items: center;
} */